:root {
    --banner-clr: rgb(220, 228, 255);
    --bg-img: url("../img/harmony/harmony-bg.jpg");
    --icon: url("../img/harmony/harmony-icon.png");
    --icon-shift: 20px;
    --title-shift: 0px;
    --font-clr: rgb(64, 64, 64);
    --hover-clr: rgb(204, 209, 240);
    --icon-edit: 0%;
    --panel-clr: rgb(255, 255, 255, 0.3);
    --bright: 3;

    --song-1: url("../img/harmony/cover-art/evergreen-CIDERGIRL.jpg");
    --song-2: url("../img/harmony/cover-art/kesshou-RyokuoushokuShakai.jpg");
    --song-3: url("../img/harmony/cover-art/tekIt-Cafune.jpg");
    --song-4: url("../img/harmony/cover-art/changeYourMind-TheKillers.jpg");
    --song-5: url("../img/harmony/cover-art/jetLag-SimplePlan.jpg");
    --song-6: url("../img/harmony/cover-art/koshaberiBiyori-FantasticYouth.jpg");
    --song-7: url("../img/harmony/cover-art/koi-GenHoshino.jpg");
    --song-8: url("../img/harmony/cover-art/talk-Beabadoobee.jpg");
}

.discord {
    --banner-clr: rgb(36, 37, 41);
    --bg-img: url("../img/discord/discord-bg.jpg");
    --icon: url("../img/discord/discord-icon.png");
    --icon-shift: 14px;
    --title-shift: 21px;
    --font-clr: white;
    --hover-clr: rgb(15, 16, 18);
    --icon-edit: 100%;
    --panel-clr: rgb(0, 0, 0, 0.3);
    --bright: 1;

    --song-1: url("../img/discord/cover-art/decode-Paramore.jpg");
    --song-2: url("../img/discord/cover-art/duvet-Boa.jpg ");
    --song-3: url("../img/discord/cover-art/hangOnMe-StVincent.jpg");
    --song-4: url("../img/discord/cover-art/kathleen-CatfishAndTheBottlemen.jpg");
    --song-5: url("../img/discord/cover-art/maybeItsMyFault-WILLOW.jpg");
    --song-6: url("../img/discord/cover-art/raisonDetre-Eve.jpg");
    --song-7: url("../img/discord/cover-art/thnksFrThMmrs-FallOutBoy.jpg");
    --song-8: url("../img/discord/cover-art/whosGonnaSaveUNow-RinaSawayama.jpg");
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--font-clr);
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: fixed;
    background-image: var(--bg-img);
    filter: hue-rotate(-15deg);
    filter: brightness(var(--bright));
    z-index: -1;
}

.wrap-div {
    width: 700px;
    margin: 20px auto;
}

/* [Header Stuff] */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--banner-clr);
    border-bottom: 1px solid gray;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.icon-title {
    display: flex;
    align-items: center;
}

#title {
    margin-right: var(--title-shift);
}

.icon {
    padding: 0px 8px;
    margin: 12px 20px 12px;
    margin-left: var(--icon-shift);
    content: var(--icon);
    height: 60px;
    filter: invert(var(--icon-edit));
}

.header-links {
    margin-right: 40px;
    width: 1000px;
    display: flex;
    align-items: center;
}

.nav-links {
    font-size: 20px;
    padding: 30px;
    width: 150px;
    text-decoration: none;
    flex: 1 1 0;
    text-align: center;
    color: var(--font-clr);
}

.nav-links:hover {
    background-color: var(--hover-clr);
}

.switch-mode {
    padding: 20px;
    margin: 20px;
    /* margin-left: auto; */
}

.switch-mode:hover {
    background-color: darkgray;
}

/* [Text Stuff] */

.panel {
    margin-bottom: 80px;
    padding: 20px;
    height: auto; /* change this to the individual ones later */
    border-radius: 40px;
    background-color: var(--panel-clr);
    backdrop-filter: blur(5px);
    border: 4px solid gray;
    position: relative;

    --x-offset: 0px;
    --y-offset: 0px;
}

.panel .heading {
    font-size: 40px;
    margin: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.panel p {
    font-size: 24px;
    margin: 10px;
}

.panel:hover {
    top: var(--y-offset);
    right: var(--x-offset);
}

/* [About Me] */

.about-me {
    margin-top: 120px;
}

/* [Fav Songs] */

.songs-list {
    list-style-type: none;
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
    );
}

.song-card {
    padding: 10px;
    background-color: var(--banner-clr);
    border: 1px solid gray;
    border-radius: 5px;
    position: absolute;
    width: 220px;
    height: 280px;
    left: 100%;
    animation-name: scroll;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scroll {
    to {
        left: -220%;
    }
}

.card-1 {
    animation-delay: calc(50s / 8 * (8 - 1) * -1);
}

.card-2 {
    animation-delay: calc(50s / 8 * (8 - 2) * -1);
}

.card-3 {
    animation-delay: calc(50s / 8 * (8 - 3) * -1);
}

.card-4 {
    animation-delay: calc(50s / 8 * (8 - 4) * -1);
}

.card-5 {
    animation-delay: calc(50s / 8 * (8 - 5) * -1);
}

.card-6 {
    animation-delay: calc(50s / 8 * (8 - 6) * -1);
}

.card-7 {
    animation-delay: calc(50s / 8 * (8 - 7) * -1);
}

.card-8 {
    animation-delay: calc(50s / 8 * (8 - 8) * -1);
}

.song {
    width: 200px;
    height: 200px;
    border: 1px solid gray;
}

.song-1 {
    content: var(--song-1);
}

.song-2 {
    content: var(--song-2);
}

.song-3 {
    content: var(--song-3);
}

.song-4 {
    content: var(--song-4);
}

.song-5 {
    content: var(--song-5);
}

.song-6 {
    content: var(--song-6);
}

.song-7 {
    content: var(--song-7);
}

.song-8 {
    content: var(--song-8);
}

.song-name-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.song-name-flex .song-name {
    text-align: center;
    margin: 5px;
    font-size: 18px;
}

/* [Links] */

.links-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
}

.github {
    margin-right: -10px;
}

.links-flex img {
    filter: invert(calc(80% - var(--icon-edit)));
}

