* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.background-image {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../img/song-cover-arts/evergreen-CIDERGIRL.jpg");
}

.wrap-div {
    width: 800px;
    margin: 20px auto;
}

/* [Header Stuff] */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    border: 1px solid gray;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.icon-title {
    display: flex;
    align-items: center;
}

.harmony-icon {
    padding: 0px 8px;
    margin: 16px 20px 16px 30px;
}

.header-links {
    width: 1000px;
    display: flex;
    align-items: center;
}

.nav-links {
    font-size: 20px;
    padding: 32px;
    width: 150px;
    text-decoration: none;
    color: black;
    flex: 1 1 0;
    text-align: center;
}

.nav-links:hover {
    background-color: rgb(191, 209, 225);
}

.switch-mode {
    padding: 20px;
    margin: 20px;
    /* margin-left: auto; */
}

.switch-mode:hover {
    background-color: darkgray;
}

/* [Text Stuff] */

.panel {
    margin-bottom: 80px;
    padding: 20px;
    height: auto; /* change this to the individual ones later */
    border-radius: 40px;
    backdrop-filter: blur(10px);
    border: 4px solid gray;
}

.panel .heading {
    font-size: 40px;
    margin: 10px;
}

.panel p {
    font-size: 24px;
    margin: 10px;
}

/* [About Me] */

.about-me {
    margin-top: 150px;
}

/* [Fav Songs] */

.songs-list {
    list-style-type: none;
    /* display: flex;
    gap: 50px;
    justify-content: center; */
    margin: 30px 10px 10px;
    position: relative;
    width: 100%;
    height: 280px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right, 
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
    );
}

.song-card {
    padding: 10px;
    background-color: rgb(233, 251, 255);
    border: 1px solid gray;
    border-radius: 5px;
    position: absolute;
    width: 220px;
    height: 280px;
    left: 100%;
    animation-name: scroll;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.song-card img {
    border: 1px solid gray;
}

@keyframes scroll {
    to {
        left: -220%;
    }
}

.card-1 {
    animation-delay: calc(50s / 8 * (8 - 1) * -1);
}

.card-2 {
    animation-delay: calc(50s / 8 * (8 - 2) * -1);
}

.card-3 {
    animation-delay: calc(50s / 8 * (8 - 3) * -1);
}

.card-4 {
    animation-delay: calc(50s / 8 * (8 - 4) * -1);
}

.card-5 {
    animation-delay: calc(50s / 8 * (8 - 5) * -1);
}

.card-6 {
    animation-delay: calc(50s / 8 * (8 - 6) * -1);
}

.card-7 {
    animation-delay: calc(50s / 8 * (8 - 7) * -1);
}

.card-8 {
    animation-delay: calc(50s / 8 * (8 - 8) * -1);
}

.song-name-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.song-name-flex .song-name {
    text-align: center;
    margin: 5px;
    font-size: 20px;
}